{{define "header"}}
<h1>Create a new thread</h1>
{{end}}
{{define "main"}}
<form action="/threads" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Give your thread a great title">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="3" placeholder="Tell people what your thread is about"></textarea>
    </div>
    <button type="submit">Create Thread</button>
</form>
{{end}}